.specialization__tableHeader {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 44px 1fr 1fr;
}

.specialization__tableHeader div {
    font-weight: bold;
}

.specialization__row {
    height: 30px;
    display: grid;
    align-content: center;
    grid-template-columns: 44px 1fr 1fr;
}

.specialization__addRow {
    display: grid;
    grid-template-columns: 44px 1fr 1fr;
}

.specialization__remove {
    background-image: url("../../shared/img/remove.svg");
    background-color: transparent;
    background-size: contain;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
