.masters__tableHeader {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(6, 1fr);
}

.masters__tableHeader div {
    font-weight: bold;
}

.masters__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
